body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tf_topbar{
    background-color: rgb(0, 0, 0);
    height: 40px;
    /* position: fixed !important;
    top: 0;
    left: 0;
    z-index: 99 !important;
    width: 100%;
    position: absolute; */
}

/* .navbar-toggler {
    color: #000 !important;

} */
.abc{
    background: black !important;
}

.nav-link{
    color: black !important;
}

li, li a , .add{
    list-style: none;
    text-decoration: none;
    color: rgb(252, 250, 250);
    margin-right: 10px;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    .tf_topbar_icon{
        justify-content: center;
    }
}

.popModel {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    height: 100%;
    background: #000000b3;
    padding-top: 17%;
}
 
.closeBtn {
    position: absolute;
    top: 25%;
    right: 42%;
    margin-right: 15px;
    z-index: 999;

}

.tf__banner{

    background-image: url(a.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .tf_main-menu{
    position: fixed !important;
    width: 100%;
    top: 40px !important;
    left: 0;
    z-index: 999 !important;
    position: relative;

} */

.tf_banner_counter h3, .tf_banner_counter p {
    color: black;
}

.tf_common_btn{
    border: 2px solid  rgb(0, 162, 255);
    border-radius: 15px;
    background-color: rgb(0, 162, 255);
    text-decoration: none;
    color: aliceblue;
}

/* .tf_common_btn :hover{
    background-color: aquamarine;
} */